.navigate {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: aliceblue;
  /* background-image: linear-gradient(135deg, rgba(25, 136, 247, 1) 0%, rgba(24, 247, 232, 1) 77%); */
  background-image: linear-gradient(
    135deg,
    rgba(25, 136, 247, 0.38) 13%,
    rgba(247, 25, 136, 1) 100%
  );
  transition: 0.5s;
  overflow: hidden;
}

.navigate ul {
  position: relative;
  margin: 0;
  padding: 0;
  top: 2%;
  left: 0;
  width: 100%;
}
.navigate ul li {
  /* font-weight: bold; */
  color: #999;
  margin-left: 8px;
}
.navigate ul li:hover {
  background-color: #7fcbcd;
}
.navigate ul li:nth-child(1):hover {
  background: transparent;
}

.navigate ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.navigate ul li a .icon {
  font-size: 20px;
  min-width: 80px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.navigate ul li a .icon .fa {
  color: beige;
  font-size: 30px;
}
.navigate ul li a .title {
  font-size: 20px;
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
